<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Post Idea - Step 2</title>
</head>
<body>
<div  class="col-sm-8">

    <div class="panel panel-info">

        <div class="panel-heading">Post your Idea -  Step 3 </div>
        <form ng-controller="PostIdeaCtrl" name="PostIdea2">
            <div class="panel-body">

                <div class="form-group">
                    <label for="businessCase"> Business Case </label>
                    <textarea name="businessCase" id="businessCase" class="form-control" rows="3" ></textarea>
                </div>
                <div class="form-group">
                    <label for="implementationAspects"> Implementation Aspects </label>
                    <textarea name="implementationAspects" id="implementationAspects" class="form-control" rows="3" ></textarea>
                </div>
                <div class="form-group">
                    <label for="comparativeLandscape"> Comparative Landscape </label>
                    <textarea name="comparativeLandscape" id="comparativeLandscape" class="form-control" rows="3" ></textarea>
                </div>
                <div class="form-group">
                    <label for="applicabilityDetail"> Applicability </label>
                    <textarea name="applicabilityDetail" id="applicabilityDetail" class="form-control" rows="3" ></textarea>
                </div>
            <ul class="pager">
                <button type="submit" class="btn btn-primary">Submit</button>
            </ul>
        </div>
        </form>
    </div>
</div>
<div  class="col-sm-4">
    <div class="panel panel-warning">
        <div class="panel-heading">
            <h4 class="panel-title">Sample Ideas to help you ...</h4>
        </div>
        <div class="panel-body">
              <ul>
			                <li ng-repeat="idea in applicationsLobIdeas | limitTo: 4"
			                    >
			                    <a href="#/IdeaSearch/{{idea.id}}">{{idea.name}}</a>
			                    <p>{{idea.snippet}}</p>
			                </li>
			            </ul>
        </div>
        <div class="panel-footer">


        </div>
    </div>


</div>


</body>
</html>